body {
  font-size: 20px;
  font-family: serif;
  margin: 0px auto;
  width: 1300px;
}

.bold {
  font-weight: 900;
}

.main-heading {
  font-weight: 900;
  color: orange;
  border-top: 1px solid grey;
  border-bottom: 2px solid black;
  margin: 0.5em;
  padding: 1em 4em;
  text-align: right;
}

.centered-heading {
  display: flex;
  justify-content: center;
  font-weight: 900;
  color: orange;
  border-bottom: 2px solid black;
  margin: 0.5em;
  text-align: center;
}

.content-area {
  display: flex;
  justify-content: space-evenly;
}

.text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guest-book {
  display: flex;
  align-items: flex-end;
}

.comments {
  border: 1px solid black;
  border-collapse: collapse;
}

.comments>tbody>tr>td {
  padding: 0.3em 2em;
}

.comments>tbody>tr:nth-child(even) {
  background-color: lightgray;
}